In [1]:
import pandas as pd
import math
import json
import nltk

# LOADING THE DATASET

In [2]:
def read_data(filename):
    f = open(filename, 'r')
    
    df = pd.read_json(f, lines=True)
    
    df.drop(columns = ['article_link'])                    #drop the column 'article_link', as we only need the headline body
    del df['article_link']
    
    return df

In [3]:
fileName = 'Sarcasm_Headlines_Dataset.json'

data = read_data(fileName) # Read Data file

data

                                                headline  is_sarcastic
0      former versace store clerk sues over secret 'b...             0
1      the 'roseanne' revival catches up to our thorn...             0
2      mom starting to fear son's web series closest ...             1
3      boehner just wants wife to listen, not come up...             1
4      j.k. rowling wishes snape happy birthday in th...             0
...                                                  ...           ...
26704               american politics in moral free-fall             0
26705                            america's best 20 hikes             0
26706                              reparations and obama             0
26707  israeli ban targeting boycott supporters raise...             0
26708                  gourmet gifts for the foodie 2014             0

[26709 rows x 2 columns]

In [4]:
print('Total sentences in dataset:', len(data))

Total sentences in dataset: 26709

In [5]:
print('Total Sentences in dataset with sarcastic tag:', len(data[data['is_sarcastic'] == 0]))
print('Total Sentences in dataset with non-sarcastic tag:', len(data[data['is_sarcastic'] == 1]))

Total Sentences in dataset with sarcastic tag: 14985
Total Sentences in dataset with non-sarcastic tag: 11724

#

#  Process data 
Removing all the stop words from the text and finding the lemma(perform lemmatization) of words.

In [6]:
from nltk.corpus import stopwords
stop_words = stopwords.words('english')

stop_words

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [7]:
#Method to Remove all the punctuation symbols from a sentence 

import re

def eliminate_punct(sent):
    sent = re.sub("[']", '', sent)
    sent = re.sub("[^\w]", ' ', sent)
    
    return sent

In [8]:
#Apply the lemmatization to each word in the dataset

from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

In [9]:
def remove_stop_words(sentence):
    words = sentence.split(' ')
    new_sent = ""

    for word in words:
        if word not in stop_words:
            word = lemmatizer.lemmatize(word)
            new_sent += word
            new_sent += " "
    
    return new_sent

In [10]:
def process(data):
    for i in range(0, len(data)):
        sentence = eliminate_punct(data.iloc[i,0])
        #sentence = remove_stop_words(sentence)
       
        data.iloc[i,0] = sentence.lower()
    return data

In [11]:
data = process(data)

In [12]:
print('The Data After PreProcessing')
data

The Data After PreProcessing

                                                headline  is_sarcastic
0      former versace store clerk sues over secret bl...             0
1      the roseanne revival catches up to our thorny ...             0
2      mom starting to fear sons web series closest t...             1
3      boehner just wants wife to listen  not come up...             1
4      j k  rowling wishes snape happy birthday in th...             0
...                                                  ...           ...
26704               american politics in moral free fall             0
26705                             americas best 20 hikes             0
26706                              reparations and obama             0
26707  israeli ban targeting boycott supporters raise...             0
26708                  gourmet gifts for the foodie 2014             0

[26709 rows x 2 columns]

#

# Building Tf-Vector (Term Frequency Vector)
The TF vector will be used for the VSM model as well as for eliminating the words with low frequency.

In [13]:
#This method would return the word with frequency greater than 5

def high_freq_words(tf_vector):
    final_tf = {}
    
    for word in tf_vector:
        if tf_vector[word] >= 5:
            final_tf[word] = tf_vector[word]
    
    return final_tf

In [14]:
def calc_tf(data):
    tf_words = {}
    
    for i in range(len(data['headline'])):
        line = data['headline'][i].split()
        
        for word in line:
            if word in tf_words:
                tf_words[word] += 1
            else:
                tf_words[word] = 1
    
    return high_freq_words(tf_words)

In [15]:
#Remove Low Freq Words
words_tf = calc_tf(data)

In [16]:
words_tf

{'former': 106,
 'store': 55,
 'clerk': 11,
 'sues': 17,
 'over': 483,
 'secret': 92,
 'black': 267,
 'code': 19,
 'for': 3321,
 'minority': 15,
 'the': 5415,
 'revival': 11,
 'catches': 14,
 'up': 842,
 'to': 8267,
 'our': 177,
 'political': 83,
 'mood': 13,
 'better': 124,
 'and': 1935,
 'worse': 40,
 'mom': 198,
 'starting': 45,
 'fear': 46,
 'sons': 36,
 'web': 19,
 'series': 62,
 'closest': 7,
 'thing': 144,
 'she': 199,
 'will': 558,
 'have': 494,
 'boehner': 27,
 'just': 579,
 'wants': 139,
 'wife': 84,
 'listen': 24,
 'not': 739,
 'come': 105,
 'with': 1805,
 'alternative': 13,
 'debt': 29,
 'ideas': 43,
 'j': 49,
 'k': 53,
 'rowling': 7,
 'wishes': 42,
 'happy': 64,
 'birthday': 64,
 'in': 4238,
 'most': 261,
 'magical': 32,
 'way': 266,
 'worlds': 93,
 'women': 329,
 'case': 94,
 'eating': 76,
 'lab': 8,
 'grown': 18,
 'meat': 28,
 'this': 920,
 'ceo': 73,
 'send': 35,
 'your': 653,
 'kids': 197,
 'school': 247,
 'if': 301,
 'you': 1004,
 'work': 187,
 'his': 633,
 'company': 94,
 'top': 126,
 'snake': 10,
 'leaves': 65,
 'sinking': 6,
 'huckabee': 20,
 'campaign': 196,
 'fridays': 19,
 'morning': 101,
 'email': 95,
 'inside': 83,
 'trumps': 391,
 'ages': 9,
 'airline': 13,
 'passengers': 25,
 'tackle': 7,
 'man': 1266,
 'who': 576,
 'rushes': 8,
 'bomb': 22,
 'threat': 37,
 'facebook': 112,
 'reportedly': 48,
 'working': 78,
 'on': 2433,
 'healthcare': 26,
 'features': 21,
 'apps': 10,
 'north': 130,
 'korea': 69,
 'praises': 13,
 'trump': 1295,
 'urges': 41,
 'us': 147,
 'voters': 94,
 'reject': 8,
 'hillary': 207,
 'actually': 134,
 'cnns': 9,
 'lord': 14,
 'has': 560,
 'been': 130,
 'a': 3093,
 'while': 167,
 'holds': 29,
 'huge': 58,
 'protest': 57,
 'support': 102,
 'of': 5634,
 'refugees': 43,
 'nuclear': 67,
 'during': 216,
 'spider': 14,
 'musical': 22,
 'cosby': 15,
 'lawyer': 30,
 'asks': 88,
 'why': 506,
 'accusers': 10,
 'didnt': 96,
 'forward': 39,
 'be': 826,
 'by': 896,
 'legal': 36,
 'team': 89,
 'years': 286,
 'ago': 31,
 'stock': 25,
 'confused': 12,
 'market': 33,
 'program': 45,
 'build': 23,
 'cities': 34,
 'got': 145,
 'bigger': 14,
 'craig': 10,
 'hicks': 8,
 'indicted': 12,
 'sketch': 9,
 'artist': 46,
 'clear': 28,
 'assures': 29,
 'nation': 211,
 'that': 778,
 'decision': 49,
 'syrian': 51,
 'airstrikes': 6,
 'came': 33,
 'after': 851,
 'carefully': 11,
 'considering': 16,
 'all': 585,
 'passing': 22,
 'qatar': 9,
 'dutch': 5,
 'woman': 444,
 'reported': 13,
 'was': 323,
 'raped': 7,
 'is': 1685,
 'shouldnt': 34,
 'go': 164,
 'circus': 5,
 'ted': 66,
 'cruz': 72,
 'hits': 50,
 'panic': 14,
 'button': 11,
 'we': 312,
 'could': 281,
 'lose': 46,
 'both': 20,
 'houses': 14,
 'congress': 134,
 'writers': 14,
 'must': 103,
 'plan': 147,
 'surprised': 32,
 'obama': 362,
 'visits': 23,
 'national': 129,
 'cemetery': 5,
 'honor': 35,
 'veterans': 21,
 'ex': 75,
 'con': 13,
 'back': 326,
 'behind': 94,
 'bar': 60,
 'careful': 5,
 'bush': 149,
 'recommends': 28,
 'oil': 50,
 'drilling': 9,
 'beginning': 23,
 'task': 5,
 'allies': 15,
 'islamist': 5,
 'killing': 51,
 'nonsense': 11,
 'what': 641,
 'its': 421,
 'like': 407,
 'kiss': 12,
 'adam': 19,
 'uber': 30,
 'vows': 49,
 'nyc': 44,
 'drivers': 17,
 'millions': 54,
 'tax': 95,
 'apple': 50,
 'may': 201,
 'electric': 17,
 'motorcycle': 9,
 'death': 223,
 'drug': 71,
 'resistant': 6,
 'bacteria': 11,
 'often': 8,
 'childrens': 24,
 'dogs': 41,
 'see': 164,
 'muslim': 65,
 'at': 1205,
 'airport': 36,
 'giant': 34,
 'heading': 7,
 'toward': 38,
 'earth': 67,
 'straight': 61,
 'box': 58,
 'office': 151,
 'massive': 51,
 '1': 142,
 'million': 143,
 'opening': 42,
 'money': 126,
 'baseball': 24,
 'lost': 73,
 'next': 159,
 'generation': 24,
 'fans': 94,
 'robin': 12,
 'williams': 45,
 'holiday': 63,
 'eighth': 7,
 'year': 513,
 'devin': 5,
 'nunes': 6,
 'never': 170,
 'reveal': 41,
 'source': 17,
 'surveillance': 11,
 'claims': 82,
 'scott': 57,
 'used': 91,
 'stop': 161,
 'breathing': 11,
 'nearly': 36,
 '40': 51,
 'times': 87,
 'an': 375,
 'hour': 63,
 'device': 10,
 'changed': 27,
 'life': 376,
 'rescuers': 5,
 'help': 141,
 'garbage': 12,
 'into': 515,
 'ocean': 18,
 'drop': 30,
 'soccer': 26,
 'player': 34,
 'from': 1226,
 'hes': 157,
 'give': 123,
 'gift': 57,
 'play': 59,
 'season': 126,
 'christian': 38,
 'sikh': 9,
 'temple': 5,
 'victims': 59,
 'spicer': 18,
 'denies': 19,
 'ending': 18,
 'maternity': 5,
 'care': 139,
 'would': 238,
 'mean': 39,
 'pay': 76,
 'more': 544,
 'health': 210,
 'right': 197,
 'live': 141,
 'complete': 30,
 'stunned': 10,
 'horror': 22,
 'added': 12,
 'constitution': 16,
 'nasa': 34,
 'now': 361,
 'almost': 51,
 'positive': 22,
 'mars': 22,
 'rocky': 9,
 'monster': 14,
 'night': 136,
 'light': 52,
 'diy': 6,
 'sports': 54,
 'closet': 14,
 'dead': 184,
 '3': 242,
 'injured': 26,
 'shooting': 120,
 't': 65,
 'i': 381,
 'concert': 26,
 'longtime': 14,
 'teacher': 85,
 'retires': 8,
 'without': 116,
 'changing': 34,
 'single': 108,
 'students': 128,
 'donald': 472,
 'wins': 71,
 'polls': 29,
 'say': 211,
 'wouldnt': 23,
 'had': 120,
 'ready': 76,
 'cash': 27,
 'self': 177,
 'finance': 7,
 'entire': 106,
 'analysis': 7,
 'new': 1523,
 'star': 164,
 'wars': 51,
 'film': 108,
 'once': 91,
 'again': 151,
 'die': 58,
 'hard': 68,
 'bats': 6,
 'out': 838,
 'nations': 161,
 'summer': 77,
 'mobile': 6,
 'news': 174,
 'crew': 23,
 'reports': 79,
 'own': 166,
 'van': 19,
 'breaking': 74,
 'down': 310,
 'un': 52,
 'rights': 96,
 'chief': 72,
 'calls': 173,
 'situation': 15,
 'syria': 54,
 'outrage': 8,
 'how': 817,
 'track': 35,
 'santa': 26,
 'claus': 5,
 'flight': 38,
 'around': 143,
 'world': 291,
 'christmas': 98,
 'eve': 15,
 'colorado': 21,
 'trouble': 18,
 'tvs': 6,
 'africa': 20,
 'unveils': 80,
 'throat': 9,
 'water': 75,
 'report': 515,
 'john': 170,
 'slowly': 28,
 'but': 228,
 'list': 76,
 'greatest': 30,
 'living': 79,
 'american': 250,
 'authors': 6,
 'ghost': 16,
 'cant': 225,
 'make': 333,
 'simple': 41,
 'cup': 25,
 'coffee': 46,
 'everyone': 115,
 'freaking': 12,
 'truly': 20,
 'red': 80,
 'curry': 11,
 'leftovers': 6,
 'one': 540,
 'powerful': 53,
 'forces': 33,
 'change': 180,
 'girl': 109,
 'does': 107,
 'green': 43,
 'take': 180,
 'game': 152,
 'level': 35,
 'area': 490,
 'said': 39,
 'sorry': 25,
 'ryan': 84,
 'lochte': 5,
 'apologizes': 39,
 'behavior': 20,
 'rio': 8,
 'dakota': 18,
 'heard': 30,
 'hours': 70,
 '4': 167,
 'lessons': 56,
 'prison': 61,
 'taught': 18,
 'me': 132,
 'about': 1056,
 'power': 99,
 'control': 91,
 'sick': 49,
 'line': 100,
 'body': 113,
 'americas': 62,
 'first': 435,
 'really': 231,
 'vicious': 5,
 'process': 25,
 'contains': 11,
 'solutions': 9,
 'time': 433,
 'congressman': 62,
 'thinks': 97,
 'can': 445,
 'fix': 27,
 'economy': 41,
 'drinking': 27,
 'beer': 36,
 'breast': 18,
 'implants': 7,
 'found': 106,
 'cause': 25,
 'problems': 42,
 'mice': 5,
 'orders': 34,
 'strikes': 22,
 'chemical': 15,
 'attack': 115,
 'ceos': 11,
 'funeral': 21,
 'dream': 70,
 'round': 14,
 'it': 791,
 '90': 26,
 'teachers': 39,
 'pledge': 15,
 'culture': 42,
 'abuse': 44,
 'nypd': 13,
 'weighs': 11,
 'allowing': 13,
 'following': 57,
 'eric': 37,
 'garner': 7,
 'bono': 5,
 'foundation': 22,
 'prevents': 5,
 'risk': 49,
 'youths': 5,
 'trees': 8,
 'pope': 109,
 'francis': 65,
 'reminds': 37,
 'caring': 9,
 'everyones': 7,
 'responsibility': 12,
 '6': 155,
 'old': 387,
 'when': 296,
 'told': 61,
 'kitten': 7,
 'boyfriend': 36,
 'thought': 73,
 'hed': 15,
 'check': 46,
 'throw': 26,
 'day': 465,
 'off': 383,
 'doctors': 38,
 'restore': 12,
 'ken': 13,
 'burns': 16,
 'full': 93,
 'color': 40,
 'vision': 24,
 'removing': 7,
 'tumor': 6,
 'visual': 6,
 '12': 91,
 'slave': 6,
 'tie': 9,
 '2014': 46,
 'awards': 50,
 'coming': 101,
 '150': 11,
 'lgbtq': 41,
 'people': 377,
 'last': 227,
 'oliver': 13,
 'lays': 10,
 'disturbing': 13,
 'ways': 126,
 'which': 44,
 'america': 175,
 'house': 352,
 'gop': 249,
 'crackdown': 12,
 'continues': 29,
 'sure': 84,
 'skills': 23,
 'please': 28,
 'my': 321,
 'grandson': 9,
 'says': 453,
 'queen': 40,
 'elizabeth': 39,
 'before': 272,
 'meghan': 13,
 'markle': 8,
 'visiting': 25,
 'hometown': 14,
 'find': 105,
 'childhood': 17,
 'still': 332,
 'there': 122,
 'look': 168,
 'attacked': 6,
 'bug': 5,
 'clinton': 309,
 'becomes': 32,
 'president': 220,
 '18': 41,
 'feet': 22,
 'pole': 6,
 'hunter': 7,
 's': 467,
 'thompson': 10,
 'shoots': 19,
 'mouth': 31,
 'grand': 16,
 'climate': 130,
 'conspiracy': 18,
 'theory': 31,
 'barbra': 5,
 'streisand': 5,
 '5': 301,
 'questions': 66,
 'wish': 34,
 'younger': 19,
 'asking': 42,
 'shooter': 21,
 'loose': 13,
 'gunman': 17,
 'everything': 80,
 'flood': 9,
 'demi': 6,
 'lovato': 6,
 'drops': 24,
 'emotional': 41,
 'music': 82,
 'miley': 13,
 'cyrus': 15,
 'hemsworth': 8,
 'notices': 5,
 'jealous': 7,
 'gps': 22,
 'clearly': 43,
 'parks': 13,
 'comes': 75,
 'as': 775,
 'queer': 55,
 'italy': 14,
 '2015': 61,
 'cindy': 5,
 'daughter': 70,
 'lands': 15,
 'major': 44,
 'fashion': 52,
 'l': 19,
 'grants': 8,
 'james': 98,
 'corden': 20,
 'david': 56,
 'outfits': 8,
 'café': 9,
 'adds': 48,
 'heartbreaking': 16,
 'little': 183,
 'lunch': 31,
 'menu': 12,
 'mcdonalds': 21,
 '100': 61,
 'percent': 69,
 'kris': 10,
 'jenner': 40,
 'turned': 21,
 'drunken': 8,
 'valentines': 29,
 'karaoke': 8,
 'whale': 12,
 'regrets': 14,
 '000': 189,
 'plastic': 22,
 'chips': 7,
 'fell': 8,
 'container': 8,
 'ship': 15,
 'texas': 76,
 'ebola': 41,
 'patient': 17,
 'fighting': 49,
 'too': 198,
 'late': 59,
 'perfect': 83,
 'actor': 39,
 'role': 44,
 'head': 81,
 'room': 88,
 'producers': 13,
 'were': 118,
 'giving': 63,
 'hope': 57,
 'robert': 41,
 'de': 23,
 'turn': 52,
 '58': 7,
 'movie': 112,
 'pruitt': 16,
 'sort': 24,
 'answers': 13,
 'whether': 45,
 'believes': 18,
 'accused': 55,
 'father': 80,
 'son': 111,
 'thieves': 5,
 'cops': 57,
 'slow': 18,
 'youll': 33,
 'fine': 23,
 'drunk': 55,
 'driver': 37,
 'away': 119,
 'stolen': 16,
 'police': 234,
 'car': 101,
 'fuel': 9,
 '7': 159,
 'super': 86,
 'pac': 15,
 'democratic': 61,
 'primary': 36,
 'air': 72,
 'force': 47,
 'no': 415,
 'longer': 47,
 'require': 8,
 'so': 245,
 'god': 127,
 'paul': 118,
 'dies': 77,
 'consuming': 7,
 'eggs': 13,
 'worried': 50,
 'dealer': 6,
 'whos': 34,
 'picking': 5,
 'phone': 72,
 'dad': 145,
 'hotel': 38,
 '10': 224,
 'miles': 22,
 'city': 121,
 'youre': 78,
 'explosion': 10,
 'building': 45,
 'outside': 61,
 'paris': 47,
 'least': 55,
 '2': 214,
 'military': 67,
 'finally': 131,
 'revealed': 15,
 'union': 57,
 'sanders': 110,
 'staffers': 19,
 'members': 47,
 'influence': 13,
 'workers': 55,
 'seattle': 15,
 'sex': 156,
 'lawsuit': 35,
 'southern': 8,
 'comfort': 11,
 'comforts': 8,
 'featured': 6,
 'fox': 60,
 'they': 253,
 'edited': 6,
 'plus': 17,
 'size': 22,
 'models': 11,
 'runway': 8,
 'baltimore': 14,
 'inspire': 10,
 'inner': 18,
 'spirit': 17,
 'jewish': 20,
 'boy': 87,
 'dreams': 36,
 'being': 230,
 'only': 236,
 'parenting': 28,
 'advice': 47,
 'id': 18,
 'dare': 6,
 'family': 275,
 'chooses': 8,
 'different': 62,
 'dog': 144,
 'than': 323,
 'grandfather': 10,
 'celebrities': 25,
 'celebrate': 42,
 'fourth': 29,
 'july': 14,
 'some': 182,
 'fun': 61,
 'sun': 20,
 'international': 28,
 'womens': 73,
 'western': 12,
 'save': 82,
 'michelle': 44,
 'beauty': 45,
 'caitlyn': 15,
 'responds': 39,
 'golden': 35,
 'globes': 18,
 'jokes': 18,
 'joy': 22,
 'michael': 76,
 'flynn': 11,
 'guilty': 31,
 'plea': 15,
 'pure': 12,
 'things': 217,
 'tells': 78,
 'their': 272,
 'weight': 46,
 'loss': 38,
 'journey': 23,
 'fan': 66,
 'disappointed': 26,
 'learn': 41,
 'ron': 12,
 'marriage': 94,
 'breaks': 51,
 'differences': 8,
 'yo': 11,
 'helps': 28,
 'raise': 34,
 'california': 78,
 'engineering': 5,
 'warren': 27,
 'racist': 41,
 'bully': 11,
 'six': 37,
 'hurt': 27,
 'bus': 50,
 'crash': 49,
 'problem': 64,
 'heads': 26,
 'kim': 72,
 'gordon': 8,
 'clarifies': 8,
 'her': 395,
 'comments': 36,
 'del': 7,
 'feminism': 13,
 'bashar': 6,
 'al': 59,
 'assad': 13,
 'tries': 33,
 'tiny': 25,
 'bit': 18,
 'gas': 31,
 'cancer': 73,
 'im': 93,
 'arrested': 41,
 'charged': 27,
 'driving': 51,
 'need': 195,
 'know': 224,
 'controversy': 24,
 'erupts': 9,
 'uk': 15,
 'removes': 14,
 'gender': 30,
 'labels': 5,
 'clothes': 22,
 'sixth': 15,
 'grade': 26,
 'class': 81,
 'insurance': 31,
 'salesman': 10,
 'celebrates': 58,
 'friends': 132,
 'always': 78,
 'best': 244,
 'neil': 19,
 'watch': 233,
 'another': 146,
 'sci': 8,
 'fi': 11,
 'friend': 107,
 'biologists': 5,
 'announce': 36,
 'theyre': 54,
 'done': 39,
 'megyn': 8,
 'kelly': 38,
 'story': 123,
 'project': 30,
 'going': 213,
 'viral': 30,
 'creating': 21,
 'where': 158,
 'none': 7,
 'seems': 21,
 'exist': 12,
 'taps': 9,
 'love': 211,
 'rapping': 5,
 'newspaper': 23,
 'worry': 15,
 'spending': 33,
 'much': 137,
 'healthy': 38,
 'against': 198,
 'lives': 74,
 'matter': 39,
 'central': 15,
 'meaning': 15,
 'amendment': 18,
 'vatican': 28,
 'putting': 35,
 'public': 99,
 'react': 9,
 'wire': 10,
 'cast': 31,
 'reunited': 8,
 'community': 63,
 'obamas': 68,
 'supreme': 116,
 'court': 179,
 'nominee': 27,
 'sending': 16,
 'free': 118,
 'd': 53,
 'c': 53,
 'security': 92,
 'guard': 25,
 'custody': 12,
 'ruled': 6,
 'homicide': 7,
 'leave': 62,
 'clean': 37,
 'makes': 175,
 'minute': 58,
 'push': 43,
 'appeal': 12,
 'whites': 10,
 'facing': 12,
 'rising': 21,
 'remote': 13,
 'village': 11,
 'votes': 32,
 'move': 64,
 'childs': 29,
 'memories': 11,
 'trying': 118,
 'worst': 50,
 'place': 69,
 'child': 168,
 'sentenced': 19,
 'encouraging': 10,
 'boyfriends': 10,
 'assault': 63,
 'baby': 146,
 'values': 11,
 'march': 67,
 'inspired': 33,
 'them': 141,
 'run': 102,
 'men': 124,
 'worth': 47,
 'senators': 38,
 'arent': 37,
 'accept': 15,
 'champion': 10,
 'price': 33,
 'takes': 162,
 'failing': 23,
 'harsh': 6,
 'past': 74,
 'bacon': 14,
 'toaster': 5,
 'completes': 14,
 'documentary': 39,
 'fucking': 68,
 'liars': 7,
 'watched': 14,
 'jazz': 11,
 'magic': 22,
 'fail': 25,
 'rice': 14,
 'cake': 24,
 'stunning': 34,
 'surprise': 48,
 'carly': 13,
 'rae': 8,
 'released': 31,
 'answer': 23,
 'jeopardy': 7,
 'clue': 8,
 'female': 84,
 'getting': 185,
 'lot': 63,
 'avoiding': 5,
 'touching': 19,
 'male': 43,
 'patrons': 13,
 'hands': 50,
 'kills': 50,
 'four': 39,
 'german': 17,
 'nightclub': 8,
 'couple': 127,
 'point': 53,
 'comfortable': 15,
 'using': 57,
 'toilet': 16,
 'same': 102,
 'mountain': 12,
 'lion': 10,
 'scientists': 79,
 'near': 48,
 'road': 48,
 'noah': 29,
 'debut': 11,
 'cry': 13,
 'scalia': 16,
 'goes': 90,
 'abortion': 63,
 'passed': 12,
 'justice': 78,
 'big': 205,
 'sized': 6,
 'finish': 21,
 'those': 61,
 'fries': 7,
 'taylor': 55,
 'swift': 38,
 'voice': 48,
 'writing': 31,
 '1989': 6,
 ...}

#

# TRAINING PHASE

#

# Naive Bayes

In [17]:
def Probabilities(data):
    probabities = {}
    
    probabities[1] = data['is_sarcastic'].value_counts()[1]
    probabities[0] = data['is_sarcastic'].value_counts()[0]
    
    return probabities

In [18]:
def uniqueWords(train, vocab):
    words = {}
    
    for line in train['headline']:
        line = line.split()
        
        for word in line:
            if word in vocab:
                words[word] = 1
            
    return list(words.keys())

In [19]:
def countBoth(X, words):                           #Method to count the total sarcastic sentence and non-sarcastic sentences
                                               #X is the trained dataset
    sarcastic_sent = 0
    non_sarc_sent = 0
    
    for i in range(0, len(X)):
        line = X.iloc[i]
        tag = line[1]
        line = line[0].split()
        
        for word in line:
            if tag == 1:
                sarcastic_sent += 1
            else:
                non_sarc_sent += 1
    
    return sarcastic_sent, non_sarc_sent

In [20]:
def wordsOccurences(train, words):                     #Method would calculate the number of times a word appeared in sarcastic as well as non-sarcastic sentence

    count_words = {}
    
    for i in range(0, len(train)):
        line = train.iloc[i]
        tag = line[1]
        line = line[0].split()
        
        for word in line:
            if word in words and word not in count_words:
                count_words[word] = {}
                count_words[word][0] = 1
                count_words[word][1] = 1
 
            elif tag == 1 and word in count_words:
                count_words[word][1] += 1
            
            elif tag == 0 and word in count_words:
                count_words[word][0] += 1
                
    
    return count_words

In [21]:
def find_probs(train, sarc, non_sarc, word_count, total_unique):
    prob = {}
    p = Probabilities(train)
    prob['pr_0'] = p[0]
    prob['pr_1'] = p[1]

    prob['total_w'] = total_unique
    prob['tag0'] = non_sarc
    prob['tag1'] = sarc
    
    for word in word_count:
        prob[word] = {}
        prob[word][0] = ((word_count[word][0] + 1) / (total_unique + non_sarc))
        prob[word][1] = ((word_count[word][1] + 1) / (total_unique + sarc))
    
    return prob

In [22]:
def NaiveBayes(train, vocab):
    words = uniqueWords(train, vocab)
    
    total_words = len(words)
    
    sarc, non_sarc = countBoth(train, words)
    
    word_count = wordsOccurences(train, words)
    
    prob = find_probs(train, sarc, non_sarc, word_count, total_words)
    
    return prob

In [23]:

from sklearn.model_selection import train_test_split

In [24]:
X, Y = train_test_split(data, test_size = 0.3,shuffle=True)      #70% training and 30% testing

X.reset_index(inplace=True, drop=True)

Y.reset_index(inplace=True, drop=True)

In [25]:
print('Training Dataset')
X

Training Dataset

                                                headline  is_sarcastic
0      once homeless student who worked 4 jobs to sup...             0
1      james comeys book pre sold almost 200 000 copi...             0
2      syrian archbishop on christians threatened by ...             0
3      whoops  franklin grahams new bank is lgbt frie...             0
4      chris christie neglects new jersey woes while ...             0
...                                                  ...           ...
18691  grieving couple finds different ways to use st...             1
18692  kim kardashian celebrates 42 million insta fol...             0
18693  someone filming b roll at pike place market ri...             1
18694  local man knows he moved to minneapolis for so...             1
18695  bidens buffalo wing challenge dinner not sitti...             1

[18696 rows x 2 columns]

In [26]:
print('Testing DataSet')
Y

Testing DataSet

                                               headline  is_sarcastic
0     watch this cat lose its mind after faced with ...             0
1                      president trumps war on children             0
2     the case for holistic education in the wake of...             0
3     khloe kardashian thanks fans for their patienc...             0
4             new therapist obsessed with old therapist             1
...                                                 ...           ...
8008  new report finds americans most interested in ...             1
8009      a sadder pride because of washington inaction             0
8010  rob kardashian apparently tweeted kylie jenner...             0
8011  man humiliated by wi fis poor behavior in fron...             1
8012  fiscal challenges for nycs health and hospital...             0

[8013 rows x 2 columns]

In [27]:
print("Length of Training Dataset: ", len(X))
print("Length of Testing dataset", len(Y))

Length of Training Dataset:  18696
Length of Testing dataset 8013

In [28]:
train_dataset = NaiveBayes(X, words_tf.keys())

# VSM Model

In [29]:
def calc_idf(document_frequency):
    idf = {}
    for i in document_frequency:
        
        for j in document_frequency[i]:
            if i not in idf:
                idf[i] = 0
            idf[i] += 1 
        
        if(idf[i] > 0):
            idf[i] = 1/idf[i]
    return idf

In [30]:
def preProcess():
    doc_vector = [dict() for x in range(51)]
    document_frequency = {}

    for i in range(1,51):
        for word in X.iloc[i,0].split():       
            #for word in line.split():
                if(True):
                    #word = clean(word)
                    #word = lemmatizer.lemmatize(word, pos =  "v")
                    if word not in document_frequency:
                        document_frequency[word] = []
                   
                    if word in document_frequency:
                        if i not in document_frequency[word]:
                            document_frequency[word].append(i)
                    
                    if word not in doc_vector[i]:
                        doc_vector[i][word] = 0
                    
                    if word in doc_vector[i]:
                        doc_vector[i][word] += 1
    

    idf = calc_idf(document_frequency)
    
    for i in range(1,51):
        for x in doc_vector[i]:
            doc_vector[i][x] = doc_vector[i][x] * idf[x]
        
    
    return idf, doc_vector, document_frequency

In [31]:

idf, doc_vector, document_frequency = preProcess()

In [32]:
def get_mod(vector):
    sum = 0
    for i in vector:
        sum += (vector[i] * vector[i])
    return math.sqrt(sum)

In [33]:

def dot_prod(v1, v2):
    cp = 0
    for i in v1:
        if i in v2:
            cp += v1[i] * v2[i]
    return cp

In [34]:
def is_sarcastic_vsm(sentence):
    score = -1
    index =0 
    count = 0
    
    for i in doc_vector:
        s1 = dot_prod(sentence, i)
        #s = score/(get_mod(sentence) * get_mod(i))
        if s1 >= score:
            score = s1
            index = count
        count += 1
    
    return X.iloc[index, 1]

# NGRAM

In [35]:

def n_gram_apply():
    ss= len(X)
    check = False
    for i in range(0,ss, 10):
        if(X.iloc[i,1] == 1 or check == True):
            if(X.iloc[i,1] == 1):
                check = True
            else:
                check = False
            #comment=eliminate_punct(data.iloc[i,0])
            ngram_vocab = ngrams(X.iloc[i,0].split(), 4)
            #print(data.iloc[i,0])
            new_df = {}
            for j in ngram_vocab:
                sentence = ""
                for k in j:
                    sentence = sentence + " " + str(k.lower())
                sentence = eliminate_punct(sentence)
                new_df['headline'] = sentence
                new_df['is_sarcastic'] = X.iloc[i,1]
                X=X.append(new_df, ignore_index = True)
                new_df.clear()

#

# TESTING PHASE

In [36]:
def test_NaiveBayes(trained,test):
    result_list = []
    tf = 1

    for i in range(0, len(test)):
        predicted = ""
        true_prob = 1
        false_prob = 1
        line = test.iloc[i]
        line = line[0].split()
        
        for w in line:
            if w in trained:
                true_prob *= trained[w][1]
                false_prob *= trained[w][0]
            else:
                true_prob *= (1 + tf) / ((trained['total_w'] + trained['tag1']))
                false_prob *= (1 + tf) / ((trained['total_w'] + trained['tag0']))
        
        true_prob = (true_prob * trained['pr_1'])
        false_prob = (false_prob * trained['pr_0'])
        
        if true_prob > false_prob:
            predicted = 1
        else:
            predicted = 0
        
        result_list.append(predicted)
    
    return result_list

In [37]:
def TestVSM():
    sentence = {}                                  #Testing the VSM with the sentence "report"
    for i in sent.split():
        sentence[i] = 1
    #print(cross_prod(sentence, X.iloc[0,0]))
    print("Ans: ")
    print(is_sarcastic_vsm(sentence))

In [38]:
predicted = test_NaiveBayes(train_dataset,Y)

In [39]:
#TestVSM()

#

# Finding the Accuracy of model

In [40]:
def Accuracy(actual, predicted):
    true_predicted = 0
    
    for i in range(0, len(predicted)):
        if(i < len(actual) and i < len(predicted) and actual[i] == predicted[i]):
            true_predicted += 1
    
    accuracy = (true_predicted / len(Y)) * 100
    
    return accuracy

In [41]:
vsm_predicted = []

def calc_vsm_accuracy():
    for i in range(0, 8013):
        sent = {}
        for w in Y.iloc[i,0].split():
            if w not in sent:
                sent[w] = 0
            sent[w] +=1
        vsm_predicted.append(is_sarcastic_vsm(sent))
        sent.clear()

In [42]:
actual = list(Y['is_sarcastic'])
naiveBayes_acc = Accuracy(actual, predicted)

In [43]:

calc_vsm_accuracy()
vsm_acc = Accuracy(actual, vsm_predicted)
print("VSM Accuracy is : ", vsm_acc)
print("VSM Rounded-Accurcy",math.ceil(vsm_acc))

VSM Accuracy is :  53.36328466242356
VSM Rounded-Accurcy 54

In [44]:
print("Naive Bayes Accuracy is : ", naiveBayes_acc)
print("Naive Bayes Rounded-Accurcy", math.ceil(naiveBayes_acc))

Naive Bayes Accuracy is :  84.89953825034318
Naive Bayes Rounded-Accurcy 85

In [45]:
predict_output = Y.copy()
predict_output = predict_output.drop(['is_sarcastic'],axis=1)
predict_output['is_sarcastic'] = predicted

In [46]:
print('The Predicted Output on test data')
predict_output

The Predicted Output on test data

                                               headline  is_sarcastic
0     watch this cat lose its mind after faced with ...             0
1                      president trumps war on children             0
2     the case for holistic education in the wake of...             0
3     khloe kardashian thanks fans for their patienc...             0
4             new therapist obsessed with old therapist             1
...                                                 ...           ...
8008  new report finds americans most interested in ...             1
8009      a sadder pride because of washington inaction             0
8010  rob kardashian apparently tweeted kylie jenner...             0
8011  man humiliated by wi fis poor behavior in fron...             1
8012  fiscal challenges for nycs health and hospital...             0

[8013 rows x 2 columns]

#

# Comparison Of Accuracies of both models

In [47]:
print('Naive Bayes Accuracy:', naiveBayes_acc)
print('VSM Accuracy:', vsm_acc)

Naive Bayes Accuracy: 84.89953825034318
VSM Accuracy: 53.36328466242356

###### The Naive Bayes Gained the accuracy of 85%, whereas The VSM gained the accuracy of 58%. The Naive Bayes model worked very well on the dataset.

#

# Classify Based on user input

In [48]:
def isSarcastic_NaiveBayes(trained, sent):
    line=sent.split()
    true_prob=1
    false_prob=1
    tf=1
    
    for w in line:
        if w in trained:
            true_prob *= trained[w][1]
            false_prob *= trained[w][0]
        else:
            true_prob *= (1+tf) / ((trained['total_w'] + trained['tag1']))
            false_prob *= (1+tf) / ((trained['total_w'] + trained['tag0']))
    
    
    true_prob = (true_prob * trained['pr_1'])
    false_prob = (false_prob * trained['pr_0'])
    
    if(true_prob > false_prob):
        return "Sarcastic"
    else:
        return "Not Sarcastic"

In [ ]:
sent_input=input("Enter The Sentence : ")

In [ ]:
sent_input = eliminate_punct(sent_input)
sent_input = remove_stop_words(sent_input)

In [ ]:
ans = isSarcastic_NaiveBayes(train_dataset,sent_input)

In [ ]:
print(ans)